@import '../variables.scss';
@import './Profile.scss';
@import './SteamActivity.scss';
@import './SteamUsernameForm.scss';
@import './SteamGame.scss';

.root {
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  width: 100%;
  max-width: 100%;

  thead {
    th {
      font-weight: 700;
      vertical-align: bottom;
      text-align: left;
      padding: 6px;
      line-height: 1.42857143;

      a {
        text-decoration: none;
      }
    }
  }

  tbody {
    th, td {
      vertical-align: top;
      padding: 6px;
      line-height: 1.42857143;
      border-top: 1px solid #ddd;
    }

    th {
      font-weight: 400;
      text-align: left;
      white-space: nowrap;
    }

    td {
      font-weight: 700;
      text-align: right;
    }
  }
}

.container {
  padding: 0 0 40px;
  max-width: $max-content-width;
  margin: 0 auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

  .leftColumn, .rightColumn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: $screen-md-min) {
  .row {
    .leftColumn, .rightColumn {
      width: 47%;
      float: left;
    }
  }
}
