@import '../variables.scss';

.root {

}

.fitbitLink {

}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.profile {
  .avatar {
    border-radius: 10px;
    display: block;
    width: 100px;
  }
}

.steps {
  .stepCount {
    padding-left: 0.3em;
    font-weight: 700;
  }
}
