@import '../variables.scss';

.steamUsername {

}

.clearSteamUsername {
  padding-left: 0.3em;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}

ul.steamGames {
  padding-left: 0;
  margin: 0;
}

table tbody td.listContainer {
  text-align: left;
  font-weight: 400;
}

.gameTimeUnits {
  padding-left: 0.3em;
}
