@import '../variables.scss';

.steamUsername {

}

.clearSteamUsername {
  padding-left: 0.3em;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}

table tbody td.tableContainer {
  text-align: left;
  font-weight: 400;
  padding: 0;

  table tbody tr:first-child {
    td, th {
      border-top: none;
    }
  }
}

.gameTimeUnits {
  padding-left: 0.3em;
}
